.input_form{
    display: flex;
    background: #03a9f4;
    justify-content: center;
    
}

.post_item{
    align-items:center;
    background: rgb(169, 240, 185);
    border: 2px solid black;
    border-radius: 20px;
    display:flex;
    justify-content:space-between;
    margin:10px;
    padding:15px;
}

.result_box{
    background: #be9ff8;
}

.posts_wraper{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.span_x{
    cursor: pointer;
    padding: 5px;
}