
.App {
  font-family: 'Ubuntu', sans-serif;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
  font-size: 16px;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

h1{
  color: forestgreen;
}

table{
  margin: 5px;
  width: 90%;
  border-collapse: separate;
}

thead{
  background-color: rgb(44, 44, 44);
  color: white;
  text-align: right;
}

thead > tr{
  text-align: center;
  height: 2em;
}

td{
  align-items: center;
}

tbody > tr{
  margin: 5px;  
  text-align: right;
}

.rank{
  text-align: center;
  font-weight: bold;
}

.wrapSymbol{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.symbol{
  text-align: center;
}

.input_form{
  justify-content: center;
  width: 100%;
}
